
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
	background
}

#main-content {
	/*max-width: 940px;*/
	margin: 0 auto 20px;
	/*background-color: #fff;*/
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat: no-repeat;	
	background: -webkit-linear-gradient(top, rgb(240, 240, 240), #fff);
	background: -moz-linear-gradient(top, rgb(240, 240, 240), #fff);
	background: -ms-linear-gradient(top, rgb(240, 240, 240), #fff);
	background: -o-linear-gradient(top, rgb(240, 240, 240), #fff);
	background: linear-gradient(top, rgb(240, 240, 240), #fff);
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}

.navbar .navbar-brand {
	display: flex;
	align-items: center;
}

.navbar .navbar-brand>img {
	padding: 7px 14px;
}